*{
    margin:0px;
    padding:0px;
}
.container{
    max-width: 100vw;
    width: 95%;
    height: 90vh;
    display: flex;
    border: 1px solid black;
    

}

body{
    background: rgb(13, 222, 152);
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.quotes{
    border: 1px solid black;
    width: 100%;
    height:60%;
    margin: auto ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    padding:0 50px;
    color:grey;
    background-color: rgb(220, 246, 246);
    border:10px solid lightcoral
    
   
}

.quotes p,.quotes h3{
    font-size: 1.5rem;
    
}
@media(max-width:450px){
    .quotes p,.quotes h3{
        font-size: 1rem;
        
    }

}